*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    border: 2px solid blue;
}

header{
    border: 2px solid red;
}

main{
    border: 2px solid green;
}

footer{
    border: 2px solid purple;
    margin-top: auto;
}